<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.winterframework.dashboard.api.user.mapper.MenuMapper">
    <update id="moveEachMenuDownAfterRelative">
        UPDATE
            menu
        SET
            sort = menu.sort + 1
        <where>
            <choose>
                <when test="parentId == null">
                    and parent_id IS NULL
                </when>
                <otherwise>
                    and parent_id = #{parentId}
                </otherwise>
            </choose>

            <choose>
                <when test="moveWithRelativeMenu">
                    and sort >= #{sort}
                </when>
                <otherwise>
                    and sort > #{sort}
                </otherwise>
            </choose>
        </where>
    </update>
    <select id="getMenusByUserId" resultType="org.winterframework.dashboard.api.user.entity.Menu">
        SELECT *
        FROM menu
        WHERE id IN (SELECT menu_id
                     FROM role_menu
                     WHERE role_id IN (SELECT role_id FROM user_role WHERE user_id = #{userId}))
        AND deleted = 0
    </select>

    <select id="getMaxSortInDirectory" resultType="java.lang.Integer">
        SELECT ifnull(MAX(sort), 0) AS new_sort FROM menu b
        <choose>
            <when test="parentId == null">
                WHERE b.parent_id IS NULL
            </when>
            <otherwise>
                WHERE b.parent_id = #{parentId}
            </otherwise>
        </choose>
    </select>
</mapper>
