<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.winterframework.dashboard.api.user.mapper.UserMapper">

    <select id="pagingQueryUsers" resultType="org.winterframework.dashboard.api.user.model.response.AdminUserPageItem">
        SELECT t.id, t.avatar, t.username, t.nickname, t.mobile, t.create_time, t.status
        FROM `user` t

        WHERE t.deleted = 0
        <if test="query.username!=null and query.username!=''">
            AND t.username LIKE CONCAT('%', #{username}, '%')
        </if>
        <if test="query.nickname!=null and query.nickname!=''">
            AND t.nickname LIKE CONCAT('%', #{nickname}, '%')
        </if>
        <if test="query.mobile!=null and query.mobile!=''">
            AND t.mobile LIKE CONCAT('%', #{mobile}, '%')
        </if>
    </select>

    <resultMap id="userForm" type="org.winterframework.dashboard.api.user.model.response.AdminUserForm">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="nickname" column="nickname" />
        <result property="mobile" column="mobile" />
        <result property="avatar" column="avatar" />
        <result property="createTime" column="create_time" />
        <result property="status" column="status" />
        <collection property="roles" ofType="java.lang.String">
            <id column="role_id" />
        </collection>
    </resultMap>

    <select id="queryUserFormById" resultMap="userForm">
        SELECT t.id, t.avatar, t.username, t.nickname, t.mobile, t.create_time, t.status, r.id AS role_id
          FROM `user` t
                   LEFT JOIN user_role ur
                   ON t.id = ur.user_id
                   LEFT JOIN role r
                   ON ur.role_id = r.id
         WHERE t.id = #{id}
    </select>
</mapper>
