<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.winterframework.dashboard.api.user.mapper.UserMapper">

    <select id="pagingQueryUsers" resultType="org.winterframework.dashboard.api.user.model.response.AdminUserPageItem">
        SELECT t.id, t.avatar, t.username, t.nickname, t.mobile, t.create_time, t.status
        FROM `user` t

        WHERE t.deleted = 0
        <if test="query.username!=null and query.username!=''">
            AND t.username LIKE CONCAT('%', #{username}, '%')
        </if>
        <if test="query.nickname!=null and query.nickname!=''">
            AND t.nickname LIKE CONCAT('%', #{nickname}, '%')
        </if>
        <if test="query.mobile!=null and query.mobile!=''">
            AND t.mobile LIKE CONCAT('%', #{mobile}, '%')
        </if>
    </select>
</mapper>
